/* ===== Color Palette ===== */
$base-sky: #43436bff;
$base-blue: #2c2c46ff;
$base-navy: #1a1a29ff;
$base: #0b0b11ff;
$accent-purple: #5d436bff;
$accent-red: #6b4359ff;
$accent-brown: #6b4e43ff;
$accent-high: #fad89cff;

/* Border radii */
$border-small: 8px;
$border-smaller: 4px;
$border-medium: 16px;

/* Paddings */
$section-padding: 16px;

/* Mobile Layout */
$mobile-mode-width: 1000px;

/*
Source - https://stackoverflow.com/a
Posted by Ben, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-30, License - CC BY-SA 3.0
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
}

/* ===== Utility Styles ===== */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: $mobile-mode-width) {
    .center-if-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.expand-to-fill {
    flex-grow: 1;
    width: -webkit-fill-available;
}

/* ===== Specific Styles ===== */
/* Site-wide background */
@keyframes move-tiles {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 32px 32px;
    }
}

body.background {
    /* Fallback color before the image has loaded */
    background-color: $base;
    background-image: url("bg.png");
    background-size: 32px 32px;

    animation-name: move-tiles;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Site-wide text formatting */
p,
a,
%headings {
    color: $accent-high;
    font-family: "Space mono", monospace;
}

p,
a {
    font-size: 16px;
}

a.no-underline {
    text-decoration-line: none;
}

/* 2 Column Layout row container */
div.main-row-container {
    display: flex;
}

@media (min-width: $mobile-mode-width) {
    div.main-row-container {
        flex-direction: row;
    }

    /* Make the left column follow the scroll in desktop mode */
    div.sidebar {
        position: sticky;
        top: 0;
        height: fit-content;
    }
}

@media (max-width: $mobile-mode-width) {
    div.main-row-container {
        flex-direction: column;
    }
}

.nearest-filtering {
    /* Nearest filtering */
    /* IE, only works on <img> tags */
    -ms-interpolation-mode: nearest-neighbor;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
}

/* Landing page title */
h1.page-title {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: min(8rem, 10vw);
    text-align: center;
    font-weight: bold;
}

/* Content background */
div.main-content-background {
    justify-content: center;
    background-color: $base-navy;
    width: 80%;
    height: 80%;
    max-width: 1600px;
    padding: 1em;
    border-radius: $border-small;
}

/* Any box inside the main content */
div.section-box {
    background-color: $base;

    margin: 1em;
    padding: $section-padding;
    border-radius: $border-small;
}

/* Expand the margins on mobile for more screen real-estate */
@media (max-width: $mobile-mode-width) {
    div.main-content-background {
        width: 90%;
        height: 90%;
    }

    div.section-box {
        margin: 0.3em;
    }
}

/* Section titles */
%headings.section-title {
    font-weight: bold;
    font-size: 1.4rem;
}

/* The main text content box */
div.article {
    flex-grow: 1;
}

/* Profile picture on the landing page */
img.pfp-image {
    width: 305px;
    height: 305px;
}

/* ===== Navigation Section ===== */

/* Navigation container */

/* Navigation panel rows */
div.navigation-button-container {
}

/* Make nav region take up space on desktop */
@media (min-width: $mobile-mode-width) {
    div.navigation {
        min-width: 20em;
    }
}

/* Make buttons side by side on mobile */
@media (max-width: $mobile-mode-width) {
    div.navigation-button-container {
        display: flex;
        flex-direction: row;
    }
}

/* Row container for navigation button */
div.navigation-button-row {
    width: auto;
    height: 2.5em;
    text-align: center;
    margin: 8px;
    border-radius: $border-smaller;
    transition: background-color 0.25s;
}

@media (max-width: $mobile-mode-width) {
    div.navigation-button-row {
        flex: 1;
    }
}

/* Alternate between the three accent colors for navigation buttons */
div.navigation-button-row:nth-child(3n + 1) {
    background-color: $accent-purple;
}
div.navigation-button-row:nth-child(3n - 1) {
    background-color: $accent-red;
}
div.navigation-button-row:nth-child(3n) {
    background-color: $accent-brown;
}
div.navigation-button-row:hover {
    background-color: $base-sky;
    font-weight: bold;
}

/* Navigation panel buttons */
a.navigation-button {
    width: auto;
    height: auto;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* ===== Content Listing Page Styling ===== */
div.content-listing-box-container {
}

div.content-listing-box {
    background-color: $base-navy;
    transition: background-color 0.25s;

    padding: 8px;

    border-radius: $border-small;
}
div.content-listing-box:not(:first-child) {
    margin-top: $section-padding;
}

/* Alternating color on hover definitions */
div.content-listing-box:nth-child(3n + 1):hover {
    background-color: $accent-purple;
}
div.content-listing-box:nth-child(3n - 1):hover {
    background-color: $accent-red;
}
div.content-listing-box:nth-child(3n):hover {
    background-color: $accent-brown;
}

.content-listing-subcontainer {
}

/* Make thumbnail images inline on desktop */
@media (min-width: $mobile-mode-width) {
    .content-listing-subcontainer {
        display: flex;
        flex-direction: row;
    }
}

/* Make thumbnail images appear above test on mobile */
@media (max-width: $mobile-mode-width) {
    .content-listing-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 12px;
    }
}

/* Thumbnail for the games in the games list page */
img.content-card-thumbnail {
    width: 128px;
    height: 128px;
    border-radius: $border-small;
}

@media (min-width: $mobile-mode-width) {
    img.content-card-thumbnail {
        margin: 12px;
    }
}

/* Audio players for music page */
audio.music-audio-player {
    width: 100%;
    max-width: 30em;
}

/* ===== Content Specific Page ===== */

/* Thumbnail in the top left */
img.content-page-thumbnail {
    display: block;
    max-height: 305px;
    max-width: 305px;
    width: 100%;
    height: 100%;
    border-radius: $border-small;
}

/* Storefront or external link icon */
img.content-page-external-icon {
    height: 32px;
    margin-right: 16px;
}

a.external-link-section {
    display: block;
    width: fill;
    height: fill;
}

div.external-link-section-container {
    transition: background-color 0.25s;
}

div.external-link-section-container:hover {
    background-color: $accent-red;
}

@media (max-width: $mobile-mode-width) {
    img.content-page-thumbnail {
        /* width: auto; */
        /* height: auto; */
    }
}

/* Content's title in the article text */
%headings.content-page-title {
    font-weight: bold;
    font-size: 1.5rem;
}

div.content-page-image-container {
    background-color: $base-navy;
    border-radius: $border-medium;
    padding: 12px;
}

img.article-inline-image {
}

p.article-inline-image-description {
}
