{% extends "two-column-with-nav.html" %} {% block tabtitle %}
<title>Games - Alikay</title> {% endblock tabtitle %} {% block pagetitle %}
<h1 class="page-title">{{ section.title }}</h1>
{% endblock pagetitle %} {% block abovearticle %}
<div class="section-box">
    <p>{{ section.content | safe}}</p>
</div>
{% endblock abovearticle %} {% block article %}
<!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->
<div class="game-box-container">
    {% for game in section.pages %}
    <div class="game-box">
        <a
            class="no-underline row-container center-column-container"
            href="{{ game.permalink | safe }}"
        >
            <img
                class="game-card-thumbnail"
                src="/thumbs/128x128/{{ game.extra.thumbnail | safe }}.jpg"
            />
            <div class="column-container">
                <h3>{{ game.title | safe }}</h3>
                <p>{{ game.description | safe }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock article%}
