{% extends "two-column-with-nav.html" %} {% block tabtitle %}
<title>{{ page.title }} - Alikay</title>
{% endblock tabtitle %} {% block pagetitle %}
<h1 class="page-title">{{page.title}}</h1>
{% endblock pagetitle %} {% block abovenav %}
<div class="section-box center-container">
    <a href="{{ page.extra.external_link | safe }}"
        ><img
            class="content-page-thumbnail"
            src='{{ get_url(path="/thumbs/512x512/" ~ page.extra.thumbnail ~ ".jpg") }}'
    /></a>
</div>
{% endblock abovenav %} {% block belownav %}
<a
    href="{{ page.extra.external_link | safe }}"
    class="no-underline external-link-section"
>
    <div class="section-box center-container external-link-section-container">
        <img
            class="content-page-external-icon"
            src='{{ get_url(path="/icons/" ~ page.extra.external_icon ~ ".svg") }}'
        />
        <p class="center">Play on {{ page.extra.external_site_name }}</p>
    </div>
</a>

<div class="section-box center-container">
    <p>Created on <strong>{{ page.date }}</strong></p>
</div>
{% endblock belownav %} {% block article %}
<!--<h1 class="content-page-title">{{ page.title }}</h1>-->
<!--<p><strong>{{ page.date }}</strong></p>-->
{{ page.content | safe }} {% endblock article %}
