{% extends "base.html" %} {% block content %} {% block pagetitle %} {% endblock
pagetitle %}
<div class="center-container">
    <div class="main-content-background row-container">
        <div class="column-container">
            {% block abovenav %} {% endblock abovenav %}
            <div class="section-box navigation column-container">
                <div class="center-container">
                    <h3 class="section-title">Navigation</h3>
                </div>

                <table class="navigation-button-container">
                    <tr class="navigation-button-row">
                        <td>
                            <a class="navigation-button" href="/">Home</a>
                        </td>
                    </tr>

                    <tr class="navigation-button-row">
                        <td>
                            <a
                                class="navigation-button"
                                href="{{ get_url(path='@/games/_index.md') }}"
                                >Games</a
                            >
                        </td>
                    </tr>

                    <tr class="navigation-button-row">
                        <td>
                            <a class="navigation-button" href="index.html"
                                >Resources</a
                            >
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="column-container expand-to-fill">
            {% block abovearticle %} {% endblock abovearticle %}
            <div class="section-box article">
                {% block article %} {% endblock article %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
