{% set image = resize_image(path=page.colocated_path ~ name, width=width,
height=height, op=op, format="jpg") %}

<div class="content-page-section-container center-container">
    <div class="content-page-image-container">
        <a
            href="{{ get_url(path=page.colocated_path ~ name) }}"
            target="_blank"
        >
            <img class="article-inline-image" src="{{ image.url }}" />
        </a>
        <p class="article-inline-image-description">{{ description }}</p>

        <!--<div class="article-inline-image-description-container">-->

        <!--</div>-->
    </div>
</div>
